@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/Ubuntu-Bold.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: 'Fira-code';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/FiraCode-Regular.ttf") format("ttf");
}

@font-face {
  font-display: swap;
  font-family: 'Exo';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/Exo2-Regular.ttf") format("ttf");
}