@import 'vars';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fcfcfc;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 auto;
  font-family: 'Ubuntu', 'Exo','Fira-code', Monaco, Consolas, Ubuntu Mono, monospace;
}
.content {
  margin: 2rem;
}

main {
  margin: 0 200px;
}

.container {
  display: flex;
  padding: 10px;
}

.post-date {
  color: $grey;
  font-size: 0.8rem;
}

.title {
  font-family: 'Ubuntu';
}

.summary {
  font-family: 'Exo';
}
