@import "font";
@import "vars";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fcfcfc;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 auto;
  font-family: "Ubuntu", "Exo", "Fira-code", Monaco, Consolas, Ubuntu Mono,
    monospace;
}

.content {
  margin-bottom: 2rem;
  padding: 1rem;
  flex: 1;
}

main {
  margin: 0 120px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.6em;
  font-family: "Ubuntu";
  color: $white;
}

.container {
  display: flex;
  padding: 10px;
}

.post-date {
  color: $yellow;
  font-size: 0.8rem;
  align-self: center;
}

.title {
  font-family: "Ubuntu";
  text-decoration: none !important;
  color: $blue;
}

.summary {
  font-family: "Exo";
  color: $blue;
}

.summary-text {
  font-size: 1rem;
  margin-top: 0.1rem;
}

.metadata {
  font-family: "Exo";
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0rem;
}

figcaption {
  padding: 0.5em;
  color: #9b9b9b;
  font-size: 1rem;
  text-align: center;
}

figure {
  max-width: fit-content;
}
