@import "font";
@import "vars";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fcfcfc;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 auto;
  font-family: "Ubuntu", "Exo", "Fira-code", Monaco, Consolas, Ubuntu Mono,
    monospace;
}
.content {
  margin-bottom: 2rem;
  padding: 1rem;
}

main {
  margin: 0 200px;
}

.name {
  font-size: 1.6em;
  font-family: "Ubuntu";
  color: $white;
}

.container {
  display: flex;
  padding: 10px;
}

.post-date {
  color: $grey;
  font-size: 0.8rem;
}

.title {
  font-family: "Ubuntu";
}

.summary {
  font-family: "Exo";
}

.summary-text {
  font-size: 1rem;
  margin-top: 0.1rem;
}

.metadata {
  font-family: "Exo";
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0rem;
}