@import 'vars';

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background: $blue;
  padding: 0 0 0 15vw;
}

.navbar__left {
  font-size: large;
  font-weight: bold;
  a {
    text-decoration: none !important;
  }
}
.navbar__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Exo";
  font-size: medium;
  min-width: 30vw;
}
.navbar__right a {
  text-decoration: none;
  // font-size: 24px;
  margin-right: 10px;
  // color: black;
  transition: all 100ms;
}
.navbar__right a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.nav-link {
  color: $yellow;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  // padding: 0.5rem 1rem;
  transition: all 100ms;
}