.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background: gainsboro;
  padding: 10px;
 }
 .navbar__right{
  display: flex;
 }
 a{
   text-decoration: none !important;
   color: black;
 }
 .navbar__right a{
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
  color: black;
  transition: all 100ms;
 }
 .navbar__right a:hover{
  text-decoration: underline;
  font-weight: bold;
 }