.blog__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog__info {
  margin-top: 0.5rem;
  margin-left: 20px;
  // flex: justify-content;
}
.blog__info p {
  margin-block-start: 2px;
  margin-block-end: 2px;
  font-size: 14px;
}
.blog__image > img {
  height: auto;
  width: 100%;
  object-fit: contain;
  margin: 10px 0;
}
.blog__categories {
  display: flex;
  align-items: center;
}
.category {
  padding: 5px 5px;
  background: #f07979;
  font-size: 12px;
  border-radius: 5px;
  width: auto;
  margin-right: 5px;
}

.content img {
  height: auto;
  width: 100%;
  object-fit: contain;
  margin: 10px 0;
}

.section {
  flex-grow: 1;
  min-width: 0;
  margin-bottom: 2rem;
  padding: 1rem;
}

.post {
  width: 100%;
  font-family: "Exo";
  max-width: 45rem;
  margin: 0 auto;
  h2,
  h3 {
    position: relative;
    padding-top: 10px;
    font-family: "Ubuntu";

    .anchor {
      top: 0.5rem;
      text-decoration: none;
      position: absolute;
      left: -1rem;
      color: $grey;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .anchor:hover {
      color: $darkGrey;
    }
  }

  blockquote {
    width: 95%;
    margin: 0 auto;
    font-size: 1rem;

    a {
      color: $darkGrey;
      text-decoration: underline;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
}

#post__title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Ubuntu";
  font-size: 2em;
  a {
    text-decoration: none !important;
  }
}

.post__date {
  color: $grey;
  font-size: 0.8rem;
}

.post__footer {
  padding-top: 3rem;
}

.note__footer {
  width: 40%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  justify-content: center;
}

.toc-container {
  position: sticky;
  align-self: start;
  top: 3rem;
  max-width: 350px;

  // @media screen and (max-width: $tocBreakpoint) {
  //   display: none;
  // }
}

.toc-post-title {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}

#TableOfContents {
  ul {
    list-style: none;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #9b9b9b;
    font-size: 0.9rem;
  }

  a.active {
    color: rgb(51, 51, 51);
  }
}

.tags__list {
  padding-right: 1.5rem;
  margin: 0rem 0 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.tag__item {
  margin-right: 1rem;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }
}

.tag__link {
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  background: lighten($green, 61%);
  color: darken($green, 20%);
  font-size: 0.8rem;

  &:hover {
    color: $yellow;
    background: lighten($yellow, 38%);
  }
}

.tag__link__list {
  // display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  background: lighten($green, 61%);
  color: darken($green, 20%);
  font-size: 0.8rem;

  &:hover {
    color: $yellow;
    background: lighten($yellow, 38%);
  }
}

.tag__selected {
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  color: $yellow;
  background: lighten($yellow, 38%);
  font-size: 1.2rem;
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

.gif {
  margin-top: 1.5rem;

  img {
    max-width: 375px;
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.pagination__item {
  text-decoration: none;
  display: flex;
  flex-direction: column;

  &:nth-child(2) {
    margin-top: 1.5rem;
  }

  @media screen and (min-width: 600px) {
    width: 275px;
    padding: 15px;
    border-radius: 4px;
    &:first-of-type {
      padding-right: 15px;
    }
    &:last-of-type {
      margin-top: 0;
    }
    &:hover {
      background-color: #f6f9fc;
    }
  }
}

.pagination__label {
  color: $grey;
  font-size: 0.8rem;
}

.pagination__title {
  color: $black;
  font-weight: 700;
  margin-top: 0.25rem;
}

footer {
  text-align: center;
  padding: 0 1.5rem;
  background: $white;

  p {
    margin-top: 1rem; // reduce margin top due to social icons' padding
    color: $grey;
    font-size: 0.65rem;
  }
}

/* overrides */
.post__content {
  ul {
    list-style: none;

    li {
      margin-bottom: 0.5rem;

      &::before {
        content: "-";
        color: $darkGrey;
        position: absolute;
        margin-left: -15px;
      }
    }
  }
}

.twitter-tweet.twitter-tweet-rendered {
  margin: 1.5rem auto !important;
  width: 375px !important;
}

table {
  max-width: 100%;
  border-spacing: 0;

  thead {
    background: $lightGrey;
  }

  th,
  td {
    padding: 0.5em 1em;
    border: 1px double $greyTableBorder;
  }
}

.block {
  margin: 1.5em 10px;
  padding: 0.25em 10px;
  p {
    margin: 0.1rem;
    font-style: italic;
  }
  &.info {
    border-left: 5px solid $infoColor;
    background-color: lighten($infoColor, 50%);
  }

  &.warning {
    border-left: 5px solid $warningColor;
    background-color: lighten($warningColor, 30%);
  }

  &.error {
    border-left: 5px solid $errorColor;
    background-color: lighten($errorColor, 30%);
  }

  &.normal {
    border-left: 5px solid $baseColorDark;
    background-color: lighten($baseColorDark, 30%);
  }
}

.post img {
  max-width: fit-content;
}

.post Blockquote {
  &::before {
    font-size: 4em;
    margin-top: 0.1em;
    margin-left: -0.42em;
    color: darken($baseColor, 33%);
  }
  margin: 1.5em 10px;
  padding: 0.25em 10px;
  p {
    margin: 0.1rem;
    font-style: italic;
    background-color: darken($baseColor, 1%);;
  }
  cite {
    &::before {
      content: "\a— ";
      white-space: pre;
    }
  }
}