// colors
$black: #111;
$lightGrey: #f7f7f7;
$greyTableBorder: #eeeeee;
$grey: #9b9b9b;
$darkGrey: #717171;
$white: #fff;
$primary: #9013fe;
$blue: #17323b;
$green: #495b44;
$red: #ff3c38;
$yellow: #e7a339;

// screenSizes
$medium: 800px;
$large: 1400px;